:root {
    --RichBlack: rgb(13,27,42);
    --OxfordBlue: rgb(27,38,59);
    --ModerateBlue: rgb(65,90,119);
    --SilverLakeBlue: rgb(119,141,169);
    --Platinum: rgb(224,225,221);
  }

body {
    background-color: var(--RichBlack);
    color: var(--Platinum);
    text-align:center;
    padding:0em;
    margin:0em;
}

#homebutton {
    background-color: var(--SilverLakeBlue);
    text-decoration: none;
    color: black;
}

.header {
    background-color: var(--OxfordBlue);
    font-size:xx-large;
}


.Tile {
    background-color: aqua;
}

.BattleshipGame {
    height:60em;
    overflow-y: scroll
}

.BelowHeader {
    flex: 1;
    display:flex;
    justify-content: space-between;
    background-color:darkblue;
    padding-left: 1em;
    padding-right: 1em;
}

.scrollable {
    overflow-y:auto;
}

.table {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    height: 30em;
}

.row {
    display: flex;
    border-bottom: 1px solid black;
}

.heading {
    font-weight: bold;
}

.cell {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding:1em;
    background-color: var(--SilverLakeBlue);
    color:var(--RichBlack);
}